body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  width: 20%;
  height: 100%;
}

.container>div:nth-child(2) {
  display: inline;
}

.LocationsBar {
  width: 20%;
  background-color: black;
  color: white;
  position: absolute;
  display: inline;
  height: 100%;
}

.location {
  cursor: pointer;
}
